.centered-text {
    text-align: center;
}

.form-group select{
    width: 15vw;
}
.firststat{
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}

.jobnameinp{
    width: 40%;
    height: 6vh;
    border: 1px solid black;
}

.fslist{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20vw;
    /* margin-left: 5vw;
    margin-right: 5vw; */
    /* border-bottom: 1px solid black;
    border-top: 1px solid black; */
}


.jobsub{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6vh;
}

.firststat select{
    width: 40%;
}

.sbox{
    padding: 20px;
    background-color: rgb(83, 83, 83);
    color: white;
}

.divide{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.workerform{
    padding: 20px;
    margin-top: 4vh;
    /* background-color: rgb(179, 179, 179); */
    width: 50vw;
    border: 1px solid black;
    border-radius: 20px;
    margin-bottom: 20vh;
}