.form-container {
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  width: 50%; /* Adjust the width as needed */
  margin: 0 auto; /* Center align the form */
}

.form-container h1 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.form-group label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="time"],
.form-group input[type="checkbox"] {
  width: 100%; /* Expand the input fields to full width */
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-button {
  background-color: green !important;
  color: #fff !important;
  border: none !important;
  border-radius: 5px !important;
  padding: 10px 20px !important;
  cursor: pointer !important;
  transition: background-color 0.3s ease !important;
}

.submit-button:hover {
  background-color: #cc0000 !important;
}

.shiftconf {
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.green-value {
  background-color: rgb(64, 255, 64);
}

.red-value {
  background-color: rgb(255, 57, 57);
}

.shifttable {
  width: 100%;
  margin: 30px;
  margin-bottom: 15vh;
  /* padding-left: 20px; */
  overflow-x: auto; /* Add horizontal scrolling for small screens */
}

.shifttable td {
  padding: 10px; /* Reduce the padding for readability on smaller screens */
  white-space: nowrap; /* Prevent text from wrapping */
  text-overflow: ellipsis; /* Add an ellipsis for long content */
  overflow: hidden; /* Hide overflowing content */
}

.shifttable th {
  padding: 15px; /* Reduce the padding for readability on smaller screens */
  white-space: nowrap; /* Prevent text from wrapping */
  text-overflow: ellipsis; /* Add an ellipsis for long content */
  overflow: hidden; /* Hide overflowing content */
}

/* Responsive styles for tablets and phones */
@media (max-width: 768px) {
  .form-container {
     margin-top: 100px;
      margin-left: 40px;
      width: 90%; /* Adjust the width for better readability on smaller screens */
  }

  .form-group input[type="text"],
  .form-group input[type="time"],
  .form-group input[type="checkbox"] {
      width: 100%;
  }
  .shifttable td,
    .shifttable th {
        padding: 8px; /* Further reduce the padding for better fit on smaller screens */
    }
}

@media (max-width: 480px) {
  .form-container {
     margin-top: 100px;
      margin-left: 40px;
      width: 90%; /* Adjust the width for better readability on smaller screens */
  }

  .form-group input[type="text"],
  .form-group input[type="time"],
  .form-group input[type="checkbox"] {
      width: 100%;
  }
}

