
*{
  font-family: 'Poppins', sans-serif;
}

.workerreg {
    margin-top: 1vh;   
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
 }
 
 .adduser{
    display: flex;
    flex-direction: column;
    align-items: center;
     justify-content: center;
     margin-top: 10vh;
     text-align: center;
     
 }
 .worklist{
     display: flex;
     flex-direction: row;
     justify-content: center;
     
 }

 
 /* .workerreg label{
     display: flex;
     flex-direction: column;
     width: 40%;
     margin-top: 2vh;
     margin-left: 30vw;
     justify-content: center;
 } */
 
 .workerreg input{
     width: 20%;
 }
 
 .heading{
     text-align: center;
     margin-top: 5vh;
 }
 .subbtn{
     margin-top: 18px;
     margin-left: 10vw;
     background-color: #d9534f;
     color: white;
     border: 0px;
     border-radius: 6px;
     align-items: center;
 }
 
 .table{
     display: flex;
     flex-direction: column;
 }
 
 .checkbox-groups {
    margin-left: 30px;
    margin-right: 20px;
 }

 .checkbox-row{
    display: flex;
    flex-wrap: wrap;
 }   
  
 .checkbox-row h5{
    margin-right: 10px;
    
 } 

 .inplab{
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
 }

 .inplab label{
  
  font-weight:600;
 }
 
 .inplab input{
  width: 80%;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  border-radius: 5px;
  
 }

 .inplab input:focus{
  outline: none;
 }
@media (max-width: 768px) {
    .workerreg input {
      width: 40%; 
    }
  
    .subbtn {
      margin-left: 0; 
    }
  }
  
 
  @media (max-width: 480px) {
    .workerreg {
      margin-top: 2vh; 
    }
  
    .adduser {
      margin-top: 5vh; 
    }
  
    .workerreg input {
      width: 80%; 
    }
  
    .worklist {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; 
    }
  }
  
