.mainDiv{
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-items:center;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 100px;
}

.firstRow , .secondRow{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    justify-items: center;
    flex-direction: row;
}

.secondRow{
    margin-top: 20px;
    margin-right: 130px;
}